.vscode
.DS_Store
**/*/.Rhistory
**/*/.Rapp.history
**/*/.RData
**/*/.cache

**/*/.DS_Store
**/*.zip
**/*.7z
**/*.tar.gz
**/*.rar
**/*/.ipynb_checkpoints
**/*.doc
**/*.docx
**/*.csv
sample_*.json
example*.json
**/*.jsonlines
**/*.jsonl
**/*.pq
**/*.log
**/*.pdf
**/*.docm
**/*.rtf
**/*.pptx
**/*.ppt
**/*.xlsx
**/*.xls
**/*.out
**/*.svg
**/*.png
**/*.jpg
**/*.jpeg
**/*.psd
**/*.tiff
**/*.whl
**/*.pkl
**/*.hdf
**/*.joblib
**/*/__pycache__
**/*/.pytest_cache/
**/*/out
**/*.iob
**/*.bio
**/*_trn2.json
**/*_trn.json
**/*_val2.json
**/*_val.json
**/*_tst2.json
**/*_tst.json
**/flair_ner*.txt
**/*/flair_experiments.ipynb
**/*/stanza_experiments.ipynb
metas*.json
media*.json
data/
dist/
logs/
test_data/
cache/
site/
test_documents/
scripts/**/*.json
scripts/**/*.out*
scripts/deduplicate_mvp.ipynb
# PyCharm ide files
.idea

# Distribution / packaging
**/*/.Python
**/*/env/
**/*/build/
**/*/builds/
**/*/develop-eggs/
**/*/dist/
**/*/downloads/
**/*/eggs/
**/*/.eggs/
**/*/lib/
**/*/lib64/
**/*/parts/
**/*/sdist/
**/*/var/
**/*/wheels/
**/*/*.egg-info/
**/*/.installed.cfg
**/*/*.egg

# Unit test / coverage reports
**/*/htmlcov/
**/*/.tox/
**/*/.coverage

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Build results
**/*/[Dd]ebug/
**/*/[Dd]ebugPublic/
**/*/[Rr]elease/
**/*/[Rr]eleases/
**/*/x64/
**/*/x86/
**/*/bld/
**/*/[Bb]in/
**/*/[Oo]bj/
**/*/[Ll]og/

**/plots/
.ipynb_checkpoints

# API
postman
.postman

**/Untitled.ipynb

## DVC
.dvc/

# Streamlit password
**/.streamlit/

# Gmail credentials
**/gmail_credentials.json


