name: pytest on Pull Request

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]
  workflow_dispatch:
    inputs:
      run_integration_tests:
        description: 'Run integration tests'
        required: false
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'  # Updated to Python 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[tests,apps]

    - name: Run pytests
      run: |
        coverage run -m pytest
        coverage report

  integration-tests:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.run_integration_tests == 'true' || contains(github.event.pull_request.labels.*.name, 'integration-tests') }}
    needs: build

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[tests,apps]

    - name: Run integration tests
      run: |
        pytest -m integration bertrend/tests/test_integration.py -v
